<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word App</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'randomwordapp/css/randomword.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <p>Random Word (Attempt # {{ request.session.tries }})</p>
    <h1>{{ request.session.word }}</h1>
    <a href="/generate"><button>Generate</button></a>
    <a href="/reset"><button>Reset</button></a>
</body>
</html>