<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a Course</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course_creation/courses.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>

  
        <table>
            <tr>
                <td>Name:</td>
                <td>{{ courses.name }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ courses.desc }}</td>
            </tr>
        </table>

        <a href="/"><button>NO</button></a>
        <a href="/destroy/{{ courses.id }}"><button>Yes, I want to delete this</button></a>
   
</body>
</html>