<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Page</title>
</head>
<body>
    <h1>Edit User {{ users.id }}</h1>

    {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    {% endif%}

    <form action="/users/{{ users.id }}/update" method="post">
        {% csrf_token %}
        <h5>First Name:</h5>
        <input type="text" name="first_name" value="{{ users.first_name }}"> 
        <h5>Last Name:</h5>
        <input type="text" name="last_name" value="{{ users.last_name }}"> 
        <h5>Email:</h5>
        <input type="text" name="email" value="{{ users.email }}"> 
        <br>
        <button type="submit">Create</button>

    </form>
    <a href="/users">Go Back</a>
</body>
</html>